@using Microsoft.Extensions.Options
@using MyApprovalsHub.Common
@using MyApprovalsHub.ViewModel
@inject NavigationManager NavigationManager
@inject IOptionsMonitor<ApprovalsHubOptions> ApprovalsHubConfig;

<h5>External Sources</h5>


<div>
       
    <FluentTabs Orientation="Orientation.Vertical" style="width:80%">

        <FluentTab>Service Now</FluentTab>
        <FluentTab Disabled=true>SAP Concur</FluentTab>
        <FluentTab Disabled=true>Oracle People soft</FluentTab>
    <FluentTab Disabled=true>UKG</FluentTab>

    <FluentTabPanel style="margin-left:50px; margin-top:10px">

        <p><FluentCheckbox Checked="true">Use Service Now</FluentCheckbox></p>

        <p>
                <FluentTextField style="min-width:400px" @ref=txtBaseUrl Value=@ApprovalsHubConfig.CurrentValue.ServiceNowBaseUrl>
                Base URL
                <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        </FluentTextField></p>

        <p>
                <FluentTextField style="min-width:400px" Value=@ApprovalsHubConfig.CurrentValue.ServiceNowUsername>
                Username
                <FluentIcon Name="@FluentIcons.Person" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
            </FluentTextField>
        </p>

        <p>
                <FluentTextField style="min-width:400px" TextFieldType="TextFieldType.Password" Value=@ApprovalsHubConfig.CurrentValue.ServiceNowPassword>
                Password
                <FluentIcon Name="@FluentIcons.Key" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
            </FluentTextField>
        </p>

        <p>
                <FluentTextField style="min-width:400px" Value=@ApprovalsHubConfig.CurrentValue.ServiceNowClientId>
                ClientId
                <FluentIcon Name="@FluentIcons.Key" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
            </FluentTextField>
        </p>

        <p>
                <FluentTextField style="min-width:400px" Value=@ApprovalsHubConfig.CurrentValue.ServiceNowClientSecret>
                Secret
                <FluentIcon Name="@FluentIcons.Key" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
            </FluentTextField>
        </p>

        </FluentTabPanel>

        <FluentTabPanel>
            SAP Concur is not implemented yet.
        </FluentTabPanel>

        <FluentTabPanel>
            Tab three content. This is for testing.
        </FluentTabPanel>

        <FluentTabPanel>
            Tab four content. This is for testing.
        </FluentTabPanel>

    </FluentTabs>
</div>


<p style="margin-top:50px">
<FluentButton @onclick=@(()=>SaveSettings()) Appearance="Appearance.Accent">
        Save
    <FluentIcon Name="@FluentIcons.Save" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor="false" />
        </FluentButton>

<FluentButton @onclick=@(()=>Close()) Appearance="Appearance.Outline">
    Cancel
    <FluentIcon Name="@FluentIcons.Dismiss" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor="true" />
</FluentButton>
</p>
    
    


@code {
    

    private FluentTextField txtBaseUrl;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        
    }

    private void Close()
    {
        NavigationManager.NavigateTo("/tab", true);
    }

    private void SaveSettings()
    {
        
    }
    
}